<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Components Demo!
  </h1>
</div>
<h2>Toolbar</h2>
<div>
  <my-toolbar layout="horizontal">
    <div class="left-align-items">
        <button type="button" >Save1</button>
        <button type="button" >Save2</button>
        <button type="button" >Save3</button>
        <button type="button" >Save4</button>
        <button type="button" >Save5</button>
    </div>
    <div class="right-align-items">
        <button type="button" >Save6</button>
        <button type="button" >Save7</button>
        
    </div>
  </my-toolbar>
</div>



