<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Components Demo!
  </h1>
</div>
<div>
  <h3>Horizontal Toolbar</h3>
  <my-toolbar layout="horizontal">
    <div class="left-align-items">
        <button  type="button" > <fa-icon [icon]="['far', 'save']"></fa-icon></button>
        <button type="button" ><fa-icon [icon]="['far', 'file']"></fa-icon></button>
        <button type="button" ><fa-icon [icon]="['far', 'clock']"></fa-icon></button>
        <button type="button" ><fa-icon [icon]="['far', 'calendar-times']"></fa-icon></button>
        <button type="button" >upload</button>
    </div>
    <div class="right-align-items">
        <button type="button" >comp 2</button>
        <button type="button" >comp 3</button>
        
    </div>
  </my-toolbar>
</div>
<div>
    <h3>Vertical Toolbar</h3>
    <my-toolbar layout="vertical">
        <div class="left-align-items">
            <button  type="button" > <fa-icon [icon]="['far', 'save']"></fa-icon></button>
            <button type="button" ><fa-icon [icon]="['far', 'file']"></fa-icon></button>
            <button type="button" ><fa-icon [icon]="['far', 'clock']"></fa-icon></button>
            <button type="button" ><fa-icon [icon]="['far', 'calendar-times']"></fa-icon></button>
        </div>
      </my-toolbar>
</div>



